
/* Global css */
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
/* Header section */

header{
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}
 header div .heading{
    background-image: url(" ");
    margin-top: 20px;
    font-size: 40px;

}
.main-menu{
    float: right;
    margin-left: 10px;

    }
.main-menu ul li{
display: inline-block;
margin-left: 10px;}


/* first section */

 .global-btn{
height: 30px;
width: 100px;
background-color: black;
color: white;
border-radius: 7px;

}
.first-section{
    background-image: url(pic5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover ;
    padding: 10rem 0;
    text-align: center;
    
}
.first-section h2{
    font-size:5rem;
    text-align: center;
    

}
.first-section p{
    font-size: 3rem;
    text-align: center;

}
.global-section{
    padding: 5rem 0;
    
    }
    .global-heading{
    font-size: 45px;
    text-align: center;
    }
    .global-head-p{
    text-align: center;
    color: darkgrey;
    }
    /* About us section */
    .about-main-div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 2rem;
    }
    .about-sub-div2{
        width: 400px;
        margin-left: 25px;
    }
    .about-sub-div2 h2{
        font-size: 3rem;
    }
    .about-sub-div2 p{
        color: darkgrey;
        margin: 20px 0;
    }
    /* service section */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;


    }
.grid-single-item{
    padding: 3rem;
    text-align: center;

}
.grid-single-item .fa-icon-size{
    font-size: 4rem;
}
.grid-single-item p{
    color:darkgray ;
}
/* Work section */
.grid-single-item .grid-single-image{
    width: 200px;
}
.work-item{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}
/* Testimonial section */
.single-item-color{
    color: black !important;
    margin-top: 4px;
}
/* contact section */
.global-section .contact-me{
    font-size: 40px;
    text-align: center;
}
form{
    text-align: center;
    margin-top: 20px;
}
 
form input{
    width: 450px;
    height: 30px;
}
.submit-btn{
    width: 150px;
    height: 35px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
    
}
.submit-btn:hover{
    background-color: gray;
}
textarea{
    width: 450px;
}
/* Footer Section */
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}
footer p{
    padding-top: 40px;
}

